.images-slider img {
    width: 100%;
    height: 355px;
    object-fit: cover;
}
.Testimonials .col-lg-6{
    padding: 0;
}

.testimonial-slider {
    height: 355px;
    background-color: #53354a;
}

.Testimonials .testimonial-slider .item {
    padding: 100px 100px 0 68px;
    color: #fff;
}

.Testimonials .testimonial-slider .item q {
    font-size: 25px;
    font-family: 'Courgette', cursive;
}
.Testimonials .slick-dots{bottom: 44px;}
.Testimonials .slick-dots li button:before{color: #fff;font-size: 14px;}

/*media query*/

@media (max-width: 575.98px){
    .Testimonials .testimonial-slider .item q {font-size: 19px;}
    .Testimonials .testimonial-slider .item {padding: 75px 24px 0px 18px;}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .Testimonials .testimonial-slider .item q {font-size: 21px;}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
        .Testimonials .testimonial-slider .item q { font-size: 20px;}
}