.Works{    font-family: 'Open Sans', sans-serif;}
.Works img{
    width: 100%;
    height: 225px;
    object-fit: cover;
}
.Works .col-md-6 ,.Works .col-lg-3 ,.works .col-ms-12{
    padding-right: 0;
    padding-left: 0;
    border: 0.5px solid #fff;
}
.Works .slide{
    position: relative;
    animation: card 2s 1;
    animation-delay: 3s
}
@keyframes card{
    from{transform: scale(0);}
    to{transform: scale(1);}
}
.overlay_image{
    position: absolute;
    top: 0;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    transition: .2s ease;
    background-color: rgba(247, 64, 64, 0.63);
    overflow: hidden;
}
.Works .slide:hover .overlay_image{
    bottom: 0;
    height: 100%;
}
.Works .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.Works .text h3{    
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;}
.Works .text p{font-size: 13px;}
.Works .text a{color: #fff;    text-decoration: none;}